h1 {
    width: 315px;
    height: 72px;
    top: 143px;
    left: 188px;
    font-weight: 800;
    font-size: 48px;
    line-height: 72px;
}

p {
    width: 975px;
    height: 72px;
    top: 220px;
    left: 188px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.ContactHeader {
    padding-top: 71px;
}